*{
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  color: var(--primria-400, #040039);

  /* button/downcase */
  font-family: arimo;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.24px;
}